.ck_content_wrapper {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  > .ck-content {
    overflow-x: auto;
    max-width: 100%;
    table {
      max-width: 100%;
    }
  }
  > a {
    display: flex;
    align-items: center;
    color: #333;
    > img {
      margin: 4px;
    }
    svg {
      margin: 4px;
    }
    &:hover {
      color: #dfb43c;
    }
  }

  .dropdowns_conatiner {
    width: 100%;
    padding: 32px 0;
  }
}
