.side_bar_info_wrapper {
  width: 464px;
  height: 1294px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .news_wrapper {
    width: 100%;
    height: 398px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > span {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #16131e;
    }
    .news_card_custom {
      margin: 0;
    }
  }
}

@media (max-width: 1480px) {
  .side_bar_info_wrapper {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
    .news_wrapper {
      width: 358px;
      height: 372px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > span {
        display: none;
      }
      .news_card_custom {
        margin: 0;
        width: 100%;
        height: 100%;
        .news_content_wrapper {
          > span:nth-child(1) {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #16131e;
            overflow: hidden;
          }
        }
      }
    }
  }
}
@media (max-width: 1230px) {
  .side_bar_info_wrapper {
    flex-direction: column;
    align-items: center;
    .news_wrapper {
      width: 358px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0;
      > span {
        display: flex;
      }
      .news_card_custom {
        margin: 0;
        width: 100%;
        height: 90%;
        .news_content_wrapper {
          > span:nth-child(1) {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #16131e;
            overflow: hidden;
          }
        }
      }
    }
  }
}
