.drop_down_wrapper {
  width: 336px;
  max-height: 0;
  position: absolute;
  z-index: 2;
  top: 48px;
  overflow: hidden;
  // transition: 300ms;
  background: #ffffff;
  box-shadow: 0px 10px 16px 0px rgb(0 0 0 / 15%);
  border-radius: 0px 0px 16px 16px;
  > li {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 20px;
    color: #4f4f4f;
    &:hover {
      font-weight: 600;
      color: #482003;
    }
  }
  > li:nth-child(1) {
    margin-top: 30px;
  }
}

.page_dropdown_conatiner {
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 16px;
  transition: 500ms;
  .dropdoen_title_button_container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d0d0d2;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 16px;

    cursor: pointer;
    > p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #482003;
      margin-left: 16px;
    }
    .icon_wrapper {
      width: 40px;
      height: 40px;
      transition: 200ms;
    }
  }
  .dropdown_content_wrapper {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 500ms;
    > img {
      width: 100%;
      max-width: 768px;
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
  }
}

.report_drop_down_container {
  width: 100%;
  min-height: 38px;
  .dropdoen_title_button_container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d0d0d2;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 16px;

    cursor: pointer;
    > p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #482003;
      margin-left: 16px;
    }
    .icon_wrapper {
      width: 40px;
      height: 40px;
      transition: 200ms;
    }
  }
  .dropdown_content_wrapper {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 500ms;
  }
}
