.news_card_wrapper {
  width: 464px;
  height: 352px;
  overflow: hidden;
  border-radius: 16px;
  margin: 24px;
  .news_img_wrapper {
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .news_content_wrapper {
    width: 100%;
    height: calc(100% - 200px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    > span:nth-child(1) {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #16131e;
    }
    > span:nth-child(2) {
      font-size: 14px;
      line-height: 20px;
      color: #5c5a62;
    }
    > div {
      width: 100%;
      height: 24px;
      > p {
        width: 157px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e8e7e9;
        border-radius: 24px;
        font-size: 12px;
        line-height: 16px;
        color: #737178;
      }
    }
  }
}

@media (max-width: 1156px) {
  .news_card_wrapper {
    width: 400px;
  }
}

@media (max-width: 666px) {
  .news_card_wrapper {
    width: 358px;
    height: 364px;
    margin: 0;
  }
}
