.full_page_wrapper {
  width: 100vw;
  min-height: 600px;
  overflow: hidden;
  position: relative;

  .headers_wrapper {
    width: 100%;
    height: 152px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: 100ms ease-in-out;
    background: white;
    .layout_header {
      width: 100%;
      height: 56px;
      background: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 240px;
      transition: 300ms;
      .header_first_container {
        width: 374px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > li {
          height: 100%;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #4f4f4f;
          cursor: pointer;
          display: flex;
          align-items: center;
          position: relative;
          &:hover .icon_wrapper {
            transform: rotate(-90deg);
          }
          &:hover {
            > ul {
              max-height: 800px;
            }
          }
          .icon_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            transition: 200ms;
          }
        }
      }
      .header_second_container {
        width: 556px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search_button {
          width: 30px;
          height: 30px;
        }
        .phone_number_wrapper {
          display: flex;
          align-items: center;
          > span {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #16131e;
            margin-left: 8px;
          }
        }
        .addres_job_icon_button {
          display: none;
        }
        .language_button {
          display: flex;
          align-items: center;
          > span {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #16131e;
            margin-left: 10px;
          }
        }
        .addres_job_button {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #4f4f4f;
        }
      }
    }
    .extra_menu {
      width: 100%;
      height: 96px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      padding-right: 240px;
      padding-left: 220px;
      background: white;
      transition: 300ms;
      overflow: hidden;

      > ul {
        width: 960px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        > li {
          font-size: 16px;
          line-height: 24px;
          color: #000000;
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;
          &:hover .icon_wrapper {
            transform: rotate(-90deg);
          }
        }
      }
      > button {
        display: none;
      }
    }
    .burger_menu {
      position: absolute;
      background: white;
      right: 0;
      top: 112px;
      z-index: 5;
      > ul {
        width: 456px;
        padding: 32px 16px;
        > li {
          width: 100%;
          height: 48px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #16131e;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 8px;
        }
        .menu_divider {
          width: 100%;
          height: 0;
          background: #d0d0d2;
          border: 1px solid #d0d0d2;
          border-radius: 2px;
          margin: 16px 0;
        }
      }
    }
  }
  .hide {
    top: -56px;
  }

  .content_wrapper {
    width: 100%;
    transition: 300ms;
    transition: 200ms;
    margin-top: 152px;

    .children_wrapper {
      width: 100%;
      min-height: 500px;
    }
    .layout_footer {
      width: 100%;
      min-height: 950px;
      .footer_first_part {
        width: 100%;
        height: 552px;
        padding-top: 112px;
        background: white;
        .hrefs_collaborators {
          width: 100%;
          height: 224px;
          background: #f5f5f5;
          display: flex;
          .hrefs_wrapper {
            width: 821px;
            height: 100%;
            background: #482003;
            box-shadow: 12px 0px 52px rgba(0, 0, 0, 0.1);
            border-radius: 0px 248px 0px 0px;
            padding-left: 240px;
            padding-top: 32px;
            > span {
              font-weight: 600;
              font-size: 24px;
              line-height: 40px;
              color: #ffffff;
            }
            .hrefs_container {
              width: calc(100% - 54px);
              margin-top: 24px;
              height: 80px;
              display: flex;
              justify-content: space-between;
              .href {
                width: 120px;
                height: 80px;
                background: rgba(255, 255, 255, 0.8);
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          .collaborators_wrapper {
            width: calc(100% - 821px);
            height: 100%;
            padding: 28px 36px;
            .collaborators_header {
              width: 822px;
              height: 48px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 40px;
              > span {
                font-weight: 600;
                font-size: 24px;
                line-height: 40px;
                color: #45424b;
              }
              .controllers {
                width: 120px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                .slider_button {
                  width: 48px;
                  height: 48px;
                  background: #ffffff;
                  border-radius: 28px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
            .collaborators_container {
              width: 784px;
              height: 56px;
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
          }
        }
      }
      .footer_second_part {
        width: 100%;
        height: 512px;
        display: flex;
        background: white;
        .main_info_wrapper {
          width: 606px;
          height: 100%;
          padding: 48px 24px 28px 240px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: #f5f5f5;
          > img {
            width: 64px;
            height: 80;
            margin-bottom: 8px;
          }
          > span:nth-child(2) {
            font-size: 12px;
            line-height: 16px;
            color: #8b898f;
          }
          > span:nth-child(3) {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #5c5a62;
          }
          > button {
            width: 107px;
            left: 242px;
            height: 48px;
            background: #482003;
            border-radius: 24px;
            margin-top: 24px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            margin-bottom: 52px;
          }

          > span:nth-child(5) {
            font-size: 12px;
            line-height: 16px;
            color: #45424b;
          }
          > span:nth-child(6) {
            font-size: 10px;
            line-height: 15px;
            color: #a2a1a5;
          }
        }
        .page_href_wrapper {
          width: calc(100% - 606px);
          height: 100%;
          background: #482003;
          border-radius: 0px 80px 0px 0px;
          padding: 35px 56px;
          display: flex;
          .colum_wrapper {
            width: 280px;
            height: 100%;
            margin-right: 88px;
            > span {
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #ffffff;
            }
            > ul {
              margin-top: 24px;
              > li {
                font-size: 14px;
                line-height: 20px;
                color: #ffffff;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
  .content_margin {
    margin-top: 96px;
  }
}

@media (max-width: 1880px) {
  .full_page_wrapper {
    .headers_wrapper {
      .layout_header {
        padding: 0 150px;
      }
      .extra_menu {
        padding: 0 150px;
      }
    }
    .content_wrapper {
      .layout_footer {
        .footer_first_part {
          .hrefs_collaborators {
            .hrefs_wrapper {
              padding-left: 150px;
            }
          }
        }
        .footer_second_part {
          .main_info_wrapper {
            padding: 48px 24px 28px 150px;
          }
          .page_href_wrapper {
            padding: 35px 32px;
            .colum_wrapper {
              margin-right: 64px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1708px) {
  .full_page_wrapper {
    .headers_wrapper {
      .layout_header {
        padding: 0 64px;
      }
      .extra_menu {
        padding: 0 64px;
      }
    }
    .content_wrapper {
      .layout_footer {
        .footer_first_part {
          min-height: 700px;
          padding-top: 128px;

          .hrefs_collaborators {
            height: auto;
            flex-wrap: wrap;
            background: #ffffff;
            .hrefs_wrapper {
              width: 100%;
              height: 224px;
              padding-left: 150px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding-top: 0;
              padding-left: 0;

              .hrefs_container {
                width: 50%;
              }
            }
            .collaborators_wrapper {
              width: 100%;
              background-color: #f5f5f5;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .collaborators_header {
                width: 100%;
                display: flex;
                justify-content: center;
              }
            }
          }
        }
        .footer_second_part {
          .main_info_wrapper {
            width: 500px;
            padding: 48px 24px 28px 64px;
          }
          .page_href_wrapper {
            width: calc(100% - 500px);
            padding: 24px 0 0 24px;
            .colum_wrapper {
              margin-right: 40px;
            }
            > .colum_wrapper:nth-child(3) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .full_page_wrapper {
    .hide {
      top: -48px;
    }
    .headers_wrapper {
      height: 120px;
      .layout_header {
        height: 48px;
        padding: 0 64px;
      }
      .extra_menu {
        height: 72px;
        z-index: 2;
        padding: 0 64px;
        svg {
          transform: scale(0.8);
        }
      }
    }
    .content_wrapper {
      margin-top: 120px;
      .layout_footer {
        height: auto;
        .footer_first_part {
          .hrefs_collaborators {
            .hrefs_wrapper {
              .hrefs_container {
                width: 60%;
              }
            }
          }
        }
        .footer_second_part {
          height: auto;
          flex-direction: column;
          .main_info_wrapper {
            width: 100%;
            padding: 48px 24px 28px 64px;
          }
          .page_href_wrapper {
            width: 100%;
            border-radius: 0;
            padding: 24px 24px 28px 64px;
            .colum_wrapper {
              margin-right: 80px;
            }
          }
        }
      }
    }
    .content_margin {
      margin-top: 72px;
    }
  }
}

@media (max-width: 1156px) {
  .full_page_wrapper {
    .headers_wrapper {
      height: 112px;

      .layout_header {
        justify-content: center;
        .header_first_container {
          display: none;
        }
      }
      .extra_menu {
        height: 64px;
        padding: 16px;
        padding-left: 20px;

        svg {
          transform: scale(0.7);
        }
        > ul {
          display: none;
        }
        > button {
          display: block;
        }
      }
    }
    .content_wrapper {
      margin-top: 112px;
      .layout_footer {
        .footer_first_part {
          .hrefs_collaborators {
            .hrefs_wrapper {
              width: 100%;
              .hrefs_container {
                width: 80%;
                flex-wrap: wrap;
              }
            }
            .collaborators_wrapper {
              height: auto;
              .collaborators_container {
                height: auto;
                flex-wrap: wrap;
                width: 80%;
                > img {
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
        .footer_second_part {
          .page_href_wrapper {
            padding: 48px 24px 28px 32px;
            flex-direction: column;
            align-items: center;
            .colum_wrapper {
              width: 100%;
              margin-right: 0;
            }
          }
          .main_info_wrapper {
            padding: 48px 24px 28px 32px;
          }
        }
      }
    }
    .content_margin {
      margin-top: 64px;
    }
  }
}

@media (max-width: 666px) {
  .full_page_wrapper {
    .headers_wrapper {
      .layout_header {
        height: 44px;
        padding: 0;
        .header_second_container {
          width: 100%;
          justify-content: flex-end;
          position: relative;
          padding: 16px;
          .search_button {
            position: absolute;
            left: 16px;
          }
          .phone_number_wrapper {
            width: 24px;
            margin-right: 16px;
            > span {
              display: none;
            }
          }
          .language_button {
            margin-right: 16px;
          }
          .addres_job_button {
            display: none;
          }
          .addres_job_icon_button {
            display: flex;
          }
        }
      }
      .extra_menu {
        padding-left: 4px;
        svg {
          transform: scale(0.7);
        }
      }
      .burger_menu {
        top: 108px;
        min-height: calc(100vh);
        background: white;
        > ul {
          width: 100vw;
          padding: 32px 16px;
          > li {
            width: 100%;
            height: 48px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #16131e;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
    .hide {
      top: -44px;
    }
    .content_wrapper {
      margin-top: 112px;
      .layout_footer {
        .footer_first_part {
          .hrefs_collaborators {
            height: auto;
            .hrefs_wrapper {
              width: 100%;
              border-radius: 0px 96px 0px 0px;
              padding: 0;
              position: relative;
              > span {
                position: absolute;
                top: -46px;
                left: 16px;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #16131e;
              }
              .hrefs_container {
                height: auto;
                width: 80%;
                flex-wrap: wrap;
                margin: 0;
                .href {
                  margin-bottom: 8px;
                }
              }
            }
            .collaborators_wrapper {
              padding: 24px 16px;
              .collaborators_header {
                > span {
                  font-weight: 600;
                  font-size: 20px;
                  line-height: 30px;
                  color: #45424b;
                }
              }
              .collaborators_container {
                width: 100%;
              }
            }
          }
        }
        .footer_second_part {
          .page_href_wrapper {
            padding: 32px 24px 28px 16px;
          }
          .main_info_wrapper {
            padding: 32px 24px 28px 16px;
          }
        }
      }
    }
  }
}
