.news_status_wrapper {
  min-width: 48px;
  height: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 16px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
