.reports_wrapper {
  width: 100%;
  background-color: white;
  .reports_container {
    width: 100%;
    height: auto;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    .reports_wrapper {
      width: 952px;
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1480px) {
  .reports_wrapper {
    .reports_container {
      padding: 32px 64px;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: 984px) {
  .reports_wrapper {
    .reports_container {
      padding: 0;
      .reports_wrapper {
        padding: 16px;
        width: 100%;
        align-items: center;
      }
    }
  }
}

@media (max-width: 700px) {
  .reports_wrapper {
    .reports_container {
      .reports_wrapper {
        height: auto;
      }
    }
  }
}
