.carousel_wrapper {
  width: 100%;
  height: 688px;
  background: #dfb43c;
  background-image: url('../../../assets/img/slider_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 128px 128px;
  padding: 0 240px 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .carousel_area {
    width: 100%;
    height: 564px;
    display: flex;
    padding: 0;
    justify-content: flex-end;
    position: relative;
    background-color: #dfb43c;
    .item_img_wrapper {
      width: 960px;
      height: 100%;
      filter: drop-shadow(0px 12px 40px rgba(0, 0, 0, 0.25));
      border-radius: 0px 0px 80px 80px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      overflow: hidden;
    }
    .info_carousel_wrapper {
      width: 948px;
      min-height: 304px;
      position: absolute;
      top: 120px;
      left: 0;

      .info_carousel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        overflow: hidden;
        .info_wrapper {
          width: 708px;
          height: 100%;
          background: #fef4d6;
          border-radius: 16px;
          padding: 32px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .texts_wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 64px;
            > span:nth-child(1) {
              font-size: 40px;
              line-height: 56px;
              color: #16131e;
              margin-bottom: 24px;
            }
            > span:nth-child(2) {
              font-size: 16px;
              line-height: 24px;
              color: #16131e;
            }
          }
          > button {
            width: 205px;
            height: 48px;
            background: #482003;
            border-radius: 24px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
          }
        }
      }
    }
  }
  .carousel_area_mobile {
    display: none;
  }

  .carousel_controller {
    width: 644px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    margin: auto;
    .carousel_button {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: white;
    }
    .content_selector_controller {
      min-width: 200px;
      max-width: 80%;
      height: 10px;
      display: flex;
      justify-content: space-between;
      > button {
        width: 48px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;
        > div {
          width: 24px;
          height: 4px;
          background: #7b4117;
          opacity: 0.2;
          border-radius: 16px;
          transition: 200ms;
        }
      }
    }
  }
}

.news_feed_container {
  width: 100%;
  padding: 128px 240px;
  background: #f5f5f5;
  .news_feed_header {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    > span {
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
      color: #16131e;
    }
    > button {
      width: 189px;
      height: 48px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      background: #482003;
      border-radius: 24px;
    }
  }
  .news_feed_body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    justify-content: center;
    @media screen and (max-width:990px){
      grid-template-columns: repeat(2,1fr);
    }
  }
  > button {
    width: 358px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: #482003;
    border-radius: 24px;
    display: none;
    margin-top: 32px;
  }
}

.coverter_container {
  width: 100%;
  min-height: 720px;
  display: flex;
  align-items: center;

  .converter_wrapper {
    width: 100%;
    height: 416px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      width: 100%;
      height: 304px;
      content: '';
      position: absolute;
      top: 72px;
      background: #482003;
      z-index: -1;
    }

    .covert_calculator {
      min-width: 464px;
      height: 256px;
      margin: 24px;
      margin-top: 50px;
      background: #ffffff;
      border-radius: 16px;
      padding: 32px;
      display: flex;
      justify-content: space-between;
      .input_core {
        min-width: 142px;
        height: 100%;
        background: #ffffff;
        border: 1px solid #f2f2f2;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 8px;

        .dropdown_wrapper {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: center;
          position: relative;
          .input_drop_down {
            width: 112px;
            height: 40px;
            background-color: #dfb43c;
            border-radius: 0px 0px 8px 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            > span {
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #ffffff;
              margin-right: 8px;
            }
          }
          > ul {
            width: 100%;
            position: absolute;
            top: 40px;
            left: 0;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            > li {
              width: 100%;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
          }
        }
        > input {
          width: 126px;
          height: 100%;
          font-size: 24px;
          line-height: 32px;
          color: #828282;
          border: 0;
          text-align: center;
          &:focus {
            outline: none;
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        > span {
          font-size: 24px;
          line-height: 32px;
          color: #828282;
          border: 0;
        }
        .input_footer {
          width: 100%;
          height: 40px;
          background: #f5f5f5;
          display: flex;
          align-items: center;
          justify-content: center;
          > span {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #828282;
          }
        }
      }
    }
  }
}

@media (max-width: 1880px) {
  .carousel_wrapper {
    padding: 0 150px 32px 0;
    .info_carousel_wrapper {
      max-width: 850px;
    }
  }
  .news_feed_container {
    padding: 64px 140px;
  }
}

@media (max-width: 1708px) {
  .news_feed_container {
    padding: 64px;
  }
}

@media (max-width: 1720px) {
  .carousel_wrapper {
    padding: 0 64px 32px 0;
    .info_carousel_wrapper {
      max-width: 730px;
      .info_wrapper {
        max-width: 650px;
      }
    }
  }
}

@media (max-width: 1480px) {
  .coverter_container {
    .converter_wrapper {
      height: 406px;
      &::before {
        height: 296px;
      }
      .covert_calculator {
        min-width: 396px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .carousel_wrapper {
    height: 520px;
    padding: 0 64px 16px 0;
    .carousel_area {
      width: 100%;
      height: 404px;
      .item_img_wrapper {
        width: 712px;
        height: 100%;
      }
      .info_carousel_wrapper {
        max-width: 800px;
        min-height: 298px;
        top: 80px;

        .info_carousel {
          .info_wrapper {
            width: 607px;
            .texts_wrapper {
              width: 100%;
              display: flex;
              flex-direction: column;
              margin-bottom: 28px;
              > span:nth-child(1) {
                font-size: 32px;
                line-height: 48px;
                margin-bottom: 0;
              }
              > span:nth-child(2) {
                font-size: 16px;
                line-height: 24px;
              }
            }
            > button {
              width: 205px;
              height: 48px;
              background: #482003;
              border-radius: 24px;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1344px) {
  .carousel_wrapper {
    .carousel_area {
      .info_carousel_wrapper {
        max-width: 660px;

        .info_carousel {
          .info_wrapper {
            max-width: 584px;
          }
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .coverter_container {
    .converter_wrapper {
      .covert_calculator {
        transform: scale(0.8);
        margin-right: -24px;
        margin-left: -24px;
      }
    }
  }

  .news_feed_container {
    padding: 64px;
  }
}

@media (max-width: 990px) {
  .coverter_container {
    background: #482003;
    height: auto;
    margin: 64px 0;
    border-radius: 0px 96px 0px 0px;
    .converter_wrapper {
      height: auto;
      flex-direction: column;
      padding: 48px 0;
      &::before {
        height: 296px;
      }

      .covert_calculator {
        transform: scale(1);
        min-width: 464px;
        height: 256px;
        margin: 24px;
      }
    }
  }
  .news_feed_container {
    padding: 64px;
  }
}

@media (max-width: 1024px) {
  .carousel_wrapper {
    padding: 0;
    min-height: 800px;

    .carousel_area {
      display: none;
    }
    .carousel_area_mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .img_wrapper_mobile {
        width: 100%;
        height: 404px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        > img {
          width: 708px;
          height: 404px;
        }
      }
      .info_wrapper_mobile {
        width: 708px;
        max-height: 296px;
        background: #fef4d6;
        padding: 32px;
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .texts_wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 28px;
          > span:nth-child(1) {
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 24px;
          }
          > span:nth-child(2) {
            font-size: 16px;
            line-height: 24px;
          }
        }
        > div > button {
          width: 205px;
          height: 48px;
          background: #482003;
          border-radius: 24px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 762px) {
  .carousel_wrapper {
    padding: 0;
    min-height: 800px;
    border-radius: 0px 0px 48px 48px;
    .carousel_controller {
      width: 90%;
      justify-content: center;
      align-items: center;
      display: flex;
      bottom: 8px;
      > button {
        display: none;
      }
    }

    .carousel_area_mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .img_wrapper_mobile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        > img {
          width: 100%;
        }
      }
      .info_wrapper_mobile {
        width: 100%;
        max-height: 296px;
        background: #fef4d6;
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .texts_wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 28px;
          > span:nth-child(1) {
            font-size: 20px;
            line-height: 30px;
            font-weight: bold;
            color: #16131e;
            margin-bottom: 16px;
          }
          > span:nth-child(2) {
            font-size: 14px;
            line-height: 20px;
            color: #16131e;
          }
        }
        > div > button {
          width: 205px;
          height: 40px;
          background: #482003;
          border-radius: 24px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }
    }
  }
  .news_feed_container {
    .news_feed_header {
      justify-content: center;
      > button {
        display: none;
      }
    }
    > button {
      display: block;
      width: 100%;
    }
  }
}
@media (max-width: 558px) {
  .carousel_wrapper {
    min-height: 632px;
    border-radius: 0px 0px 48px 48px;
    .carousel_area_mobile {
      .img_wrapper_mobile {
        width: 100%;
        height: 256px;
        overflow: hidden;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info_wrapper_mobile {
        width: 100%;
        max-height: 500px;
        background: #fef4d6;
      }
    }
  }
  .coverter_container {
    .converter_wrapper {
      &::before {
        display: none;
      }
      .covert_calculator {
        min-width: 320px;
        max-width: 95%;
        height: 432px;
        flex-direction: column;
        justify-content: space-between;
        padding: 24px;
        .input_core {
          width: 100%;
        }
      }
    }
  }
  .news_feed_container {
    padding: 64px 16px;
    .news_feed_body {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
