* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: Montserrat;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #7b411773;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #7b4117;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #4b280f;
  }
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserratarm-Black.otf') format('truetype');
}
@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserratarm-Bold.otf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserratarm-Medium.otf') format('truetype');
}
@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserratarm-Regular.otf') format('truetype');
}
