.loans_page_wrapper {
  width: 100%;
  min-height: 1400px;
  background: white;
  .mail_loan_page_containr {
    padding: 32px 0;
    display: flex;
    justify-content: center;
    .loan_menu_wrapper {
      width: 952px;
      display: flex;
      flex-direction: column;
      .loans_conatiner {
        width: 100%;
        height: auto;
        background: #ffffff;
        box-shadow: 0px 16px 48px -12px #e4e4e4;
        border-radius: 16px;
        margin-bottom: 32px;
        padding: 32px;
        position: relative;
        .loans_type_wrapper {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
          grid-gap: 24px;
          .loan_type_container {
            min-height: 184px;
            background: #ffffff;
            border: 1px solid #dfb43c;
            box-sizing: border-box;
            border-radius: 16px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            animation: appearWithScale 0.5s;
            .loan_type_header {
              width: 100%;
              height: 88px;
              background: #fef4d6;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            > p {
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #16131e;
              margin-top: 24px;
            }
          }
        }

        .selected_loan_header {
          width: 100%;
          min-height: 40px;
          margin-bottom: 32px;
          display: flex;
          align-items: center;
          img {
            height: 40px;
            margin-right: 16px;
          }
          p {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: #16131e;
          }
        }
      }
      .loan_page_calculator_conatiner {
        width: 100%;
        height: 358px;
        background: #f5f5f5;
        border-radius: 16px;
        padding: 24px 32px;
        > h5 {
          font-weight: 600;
          font-size: 24px;
          line-height: 40px;
          color: #45424b;
          margin-bottom: 48px;
        }
        .main_calcuator_wrapper {
          width: 100%;
          .main_calculator_inputs_wrapper {
            width: 100%;
            height: 72px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
          }
          .main_calculator_select_button_wrapper {
            width: 100%;
            height: 96px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .payment_method_select_type {
              width: 387px;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              > span {
                font-size: 12px;
                line-height: 16px;
                color: #828282;
              }
            }
            > button {
              width: 128px;
              height: 48px;
              background: #482003;
              border-radius: 24px;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1480px) {
  .loans_page_wrapper {
    .mail_loan_page_containr {
      flex-direction: column;
      align-items: center;
      .loan_menu_wrapper {
        margin-bottom: 48px;
      }
    }
  }
}

@media (max-width: 988px) {
  .loans_page_wrapper {
    .mail_loan_page_containr {
      .loan_menu_wrapper {
        width: 100%;
        height: auto;
        .loans_conatiner {
          padding: 16px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .loans_page_wrapper {
    .mail_loan_page_containr {
      .loan_menu_wrapper {
        .loan_page_calculator_conatiner {
          width: 100%;
          height: auto;
          padding: 40px 16px;
          > h5 {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            color: #45424b;
            margin-bottom: 24px;
          }
          .main_calcuator_wrapper {
            width: 100%;
            .main_calculator_inputs_wrapper {
              width: 100%;
              height: auto;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              margin-bottom: 40px;
              div:nth-child(1) {
                width: 100%;
                margin-bottom: 24px;
              }
              div:nth-child(2) {
                width: 48%;
                height: auto;
              }
              div:nth-child(3) {
                width: 48%;
                height: auto;
              }
            }
            .main_calculator_select_button_wrapper {
              width: 100%;
              min-height: 96px;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 42px;
              .payment_method_select_type {
                width: 100%;
                height: 96px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 16px;
                > span {
                  font-size: 12px;
                  line-height: 16px;
                  color: #828282;
                }
              }
              > button {
                width: 98%;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes appearWithScale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
